<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ZZU-BBS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--引入jquery文件 start-->
    <script src="/js/jquery-3.6.0.min.js"></script>
    <!--引入jquery文件 end-->

    <!--引入bootstrap文件 start-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <!--引入bootstrap文件 end-->

    <!--引入全局css配置文件 start-->
    <link rel="stylesheet" href="/css/bbs.css">
    <!--引入全局css配置文件 end-->
</head>
<body>

<!--通过thymeleaf调用导航栏模板 start-->
<div th:insert="navigation::nav"></div>
<!--通过thymeleaf调用导航栏模板 end-->

<!--创建流式布局 start-->
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3>
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                发现
            </h3>
            <hr>

            <!--需要进行循环的显示帖子的模块 start-->
            <div class="media" th:each="posting : ${postings}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded"
                             th:src="${posting.user.avatar_url}"
                        >
                    </a>
                </div>

                <!--                这里用表格做可能会好点-->
                <div class="media-body">
                    <h4 class="media-heading" th:text="${posting.title}"></h4>
                    <p class="text-desc">
                        <!--                        这里写浏览数,回复数等信息-->
                        <span th:text="'&bull;&nbsp'+${posting.comment_count}+'个回复&nbsp'"></span>
                        <span th:text="'&bull;&nbsp'+${posting.like_count}+'个赞&nbsp'"></span>
                        <span th:text="'&bull;&nbsp'+${posting.dislike_count}+'个踩&nbsp'"></span>
                        <span th:text="'&bull;&nbsp'+${posting.view_count}+'个浏览&nbsp'"></span>
                        <span th:text="'&bull;&nbsp'+${#dates.format(posting.gmt_create,'yyyy-MM-dd HH:mm')}+'&nbsp'"></span>

                    </p>
                </div>

            </div>
            <!--需要进行循环的显示帖子的模块 end-->

            <!--引入分页样式 start            -->
            <nav aria-label="Page navigation">
                <ul class="pagination">

                    <!--这里写首页 start-->
                    <li th:if="${pageInfo.getPrePage()}">
                        <a href="/?page=1" aria-label="Previous">
                            <span aria-hidden="true">首页</span>
                        </a>
                    </li>
                    <!--这里写首页 end-->

                    <!--这里写上一页 start-->
                    <li th:if="${pageInfo.getPrePage()}">
                        <a href="#" th:href="@{/(page=${pageInfo.getPrePage()})}" aria-label="Previous">
                            <span aria-hidden="true">上一页</span>
                        </a>
                    </li>
                    <!--这里写上一页 end-->

                    <!--这里循环展示下方的页码数 start-->
                    <li th:each="page:${pageInfo.navigatepageNums}"
                        th:class="${pageInfo.getPageNum()==page}?'active':''">
                        <a href="#" th:href="@{/(page=${page})}" th:text="${page}">1</a>
                    </li>
                    <!--这里循环展示下方的页码数 end-->

                    <!--这里写下一页 start-->
                    <li>
                        <a href="#" th:href="@{/(page=${pageInfo.getNextPage()})}" aria-label="Next">
                            <span aria-hidden="true">下一页</span>
                        </a>
                    </li>
                    <!--这里写下一页 end-->

                    <!--这里写尾页 start-->
                    <li>
                        <a href="#" th:href="@{/(page=${pageInfo.getPages()})}" aria-label="Next">
                            <span aria-hidden="true">尾页</span>
                        </a>
                    </li>
                    <!--这里写尾页 end-->

                </ul>
            </nav>
            <!--引入分页样式 end            -->

        </div>


        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>
            <br>
            <p th:text="${pageInfo.getPages()}">测试分页页数</p>

        </div>
    </div>
</div>
<!--创建流式布局 end-->
</body>
</html>