<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--导航栏模板-->
<body>

<div th:fragment="nav">
    <!--使用bootstrap创建的导航栏 start-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">ZZU-BBS</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">ZZU-BBS</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜索感兴趣的内容">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>

                <ul class="nav navbar-nav navbar-right">

                    <li th:if="${session.user!=null}">
                        <a href="/publish">发布</a>
                    </li>

                    <!--使用thymeleaf标签自带的if标签判断session中是否获取到user信息, 获取到后显示用户名称,未获取到显示登录-->
                    <li class="dropdown" th:if="${session.user !=null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span th:text="${session.user.getName()}"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile/postings">消息中心</a></li>
                            <li><a href="#">个人资料</a></li>
                            <li><a href="/signOut">退出登录</a></li>
                        </ul>
                    </li>
                    <li th:unless="${session.user!=null}">
                        <a href="https://github.com/login/oauth/authorize?client_id=ae57014a36b83bddd195&redirect_uri=http://localhost:9978/callback&scope=user&state=200">登录</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!--使用bootstrap创建的导航栏 end-->
</div>

</body>
</html>